html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  background-color: #1f2122;
  color: #b2b2b2;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #53d5e4;
  transition: all 150ms ease-in-out;
}

h1,
h2 {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  line-height: 1.1;
  color: #ffffff;
}

p {
  line-height: 1.4;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**** Display ****/
@media (min-width: 769px) {
  .hide-lg-up {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-md-down {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hide-sm-down {
    display: none !important;
  }
}

/**** Spacing ****/
.container {
  margin: 0 25px;
}
@media (min-width: 481px) {
  .container {
    margin: 0 40px;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.pad-y {
  padding-top: 100px;
  padding-bottom: 100px;
}

/**** Flex ****/
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

/**** Buttons ****/
.outline-btn {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin: 10px 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.outline-btn .material-icons {
  margin-right: 15px;
}

.email-btn {
  width: 180px;
  border-color: #ff9900;
  color: #ff9900;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  font-weight: bold;
}

.resume-btn {
  width: 130px;
  border-color: #53d5e4;
  color: #53d5e4;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  font-weight: bold;
}

.header {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #21555b;
  color: #ffffff;
}
.header.open .nav__hamburger {
  background-color: #21555b;
}
.header.open .nav__hamburger::before {
  transform: translateY(-7px) rotate(45deg);
}
.header.open .nav__hamburger::after {
  transform: translateY(4px) rotate(-45deg);
}
.header.open .nav__mobile_menu {
  height: 240px;
}

nav {
  height: 50px;
  width: 100%;
}
@media (min-width: 769px) {
  nav {
    padding-left: 40px;
    padding-right: 40px;
  }
}
nav .nav__logo {
  display: inline-block;
  transition: all 150ms ease-in-out;
}
nav .nav__logo:hover, nav .nav__logo:focus {
  opacity: 0.7;
}
nav .nav__logo > img {
  display: block;
  margin: auto 0;
}
nav .nav__links {
  list-style: none;
}
nav .nav__links a {
  display: inline-block;
  padding: 15px 20px;
  color: #ffffff;
  transition: all 150ms ease-in-out;
}
nav .nav__links a:hover, nav .nav__links a:focus {
  background-color: #3a96a080;
}
nav .nav__menu {
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: transparent;
  opacity: 1;
  border: none;
  outline: none;
  transition: all 150ms ease-in-out;
}
nav .nav__menu:hover, nav .nav__menu:focus {
  cursor: pointer;
  opacity: 0.75;
}
nav .nav__hamburger {
  height: 3px;
  width: 24px;
  background-color: #ffffff;
  transition: all 150ms ease-in-out;
}
nav .nav__hamburger::before, nav .nav__hamburger::after {
  content: "";
  display: block;
  height: 3px;
  width: 24px;
  background-color: #ffffff;
  transition: all 150ms ease-in-out;
}
nav .nav__hamburger::before {
  transform-origin: 2px 4px;
  transform: translateY(-7px);
}
nav .nav__hamburger::after {
  transform-origin: 4px 0px;
  transform: translateY(4px);
}
nav div.nav__mobile_menu {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  transition: all 250ms ease-in-out;
  height: 0px;
  overflow: hidden;
  background-color: #21555b;
}
nav .nav__mobile_links {
  padding-left: 0;
  margin: 20px 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
nav .nav__mobile_links a {
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
}
nav .nav__mobile_links a:hover, nav .nav__mobile_links a:focus {
  background-color: #3a96a080;
}

.hero {
  padding: 45px 0;
  background-image: url("../../images/hero_bg_large.svg");
  background-size: 100% 100%;
}
@media (min-width: 481px) {
  .hero {
    padding: 80px 0;
  }
}
.hero__terminal {
  min-height: 500px;
  background-color: #1e1e1e;
  border: 2px solid #777777;
  border-radius: 10px;
}
@media (min-width: 769px) {
  .hero__terminal {
    margin: 0 60px;
  }
}
.hero__traffic_light {
  width: 68px;
  height: 15px;
  margin-top: 20px;
  margin-left: 20px;
  background-image: url("../../images/traffic_light_btn.svg");
}
@media (min-width: 481px) {
  .hero__traffic_light {
    margin-left: 25px;
  }
}
.hero__terminal_container {
  padding: 30px 15px 20px;
}
@media (min-width: 481px) {
  .hero__terminal_container {
    padding: 40px 30px;
  }
}
.hero__title {
  margin-bottom: 20px;
}
.hero__title .material-icons {
  margin-top: 5px;
  color: #5fd700;
}
.hero__title_text {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 30px;
}
.hero__content {
  margin-left: 5px;
}
.hero__description {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 16px;
}
.hero__cta {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
